<head> 
    <title>
       Activities
    </title>
    <style>
    body { background-color: #000000; }
</style>
</head>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    button {
        border-radius: 5px;
      border: 3px solid rgb(61, 59, 59);
      font-family: Arial, sans-serif;
  font-size: 100%;
  background-color: rgb(53, 51, 51);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
        margin: 10px; 
    }
    
    button:hover {
  background-color: rgb(48, 48, 48);
}

    .button-container {
        display: flex;
        justify-content: space-around;
    }
</style>
<button onclick="window.location.href='/Proxy.html'">Built in proxy</button>
<button onclick="window.location.href='/chromedino.html'">Chrome Dino</button>
<button onclick="window.location.href='/DragonX_V2.html'">DragonX 2</button>
<button onclick="window.location.href='/piclient.html'">PiClient (Minecraft)</button>
<button onclick="window.location.href='/Evilglitch.html'">Evil Glitch</button>
<button onclick="window.location.href='/Square.html'">Black Hole Square</button>
<button onclick="window.location.href='/RetroHaunt.html'">Retrohaunt</button>
<button onclick="window.location.href='/Konekt.html'">Konekt</button>
<button onclick="window.location.href='/chroma.html'">The Chroma Incident</button>

